.dodgerColor{
    color: dodgerblue;
}
.blueColor{
    color: blue;
}
div{
    margin: 10px;
}
body{
    margin: 40px;
    text-indent: 60px;
    font-size: 20px;
    text-align: justify;
}
sup{
    font-size: 10px;
}
